<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Fix bootstrap -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Book Notes</title>
  </head>
  <main class="flex-shrink-0">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Book Notes</a>
        
        <a class="nav-link" href="/new-author">Add an Author</a>
        <a class="nav-link" href="/new-book">Add a Book</a>
        <a class="nav-link" href="/new-note">Add a Note</a>
    
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Book Notes</h1>
          <p class="lead text-body-secondary">Review and Take Notes</p>
        </div>
      </div>
    </section>
